.ingrident {
  width: 19.6875rem;
  height: 4.75rem;
  background-color: #ececec;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;

}
.vegetable {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.ingrident > h6 {
  font-weight: 400;
  color: var(--gray3);
}