.main {
  width: 85%;
  margin: auto;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.main h4 {
  margin-top: 0.625rem;
  margin-bottom: 1.25rem;
  color: #121212;
  text-align: center;
}
.recipes {
  display: grid;
  grid-gap: 1.25rem;
  overflow-y: auto;
}
